{% extends 'partials/basenext.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="app-content">
    <div class="u-s-p-y-60">
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">
                                <a href="{% url 'base:index' %}">Home</a>
                            </li>
                            <li class="has-separator">
                                <a href="{% url 'base:product_list' %}">Shop</a>
                            </li>
                            <li class="is-marked">
                                <a href="{% url 'base:category_list' %}">All Categories</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="u-s-p-y-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop-p">
                        <div class="shop-p__toolbar u-s-m-b-30">
                            <div class="shop-p__meta-wrap u-s-m-b-60">
                                <span class="shop-p__meta-text-1">FOUND {{ categories.paginator.count }}
                                    CATEGORIES</span>
                            </div>
                        </div>

                        <!-- Categories Grid with Pagination -->
                        <div id="categories-container">
                            {% include 'core/partials/category_products.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}