{%extends 'partials/basenext.html' %} {% load static %} {% block content %}
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">FORGOT PASSWORD?</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row row--center">
                            <div class="col-lg-6 col-md-8 u-s-m-b-30">
                                <div class="l-f-o">
                                    <div class="l-f-o__pad-box">
                                        <h1 class="gl-h1">ENTER NEW PASSWORD HERE</h1>

                                        {% if form.errors %}
                                            <div class="error-banner">
                                                <ul>
                                                    {% for field, errors in form.errors.items %}
                                                        {% for error in errors %}
                                                            <li>{{ error }}</li>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}

                                        <form class="l-f-o__form" method="post">
                                            
                                                {% csrf_token %}
                                                <input type="hidden" name="{{ form.uid.name }}" value="{{ form.uid.value }}">
                                                <input type="hidden" name="{{ form.token.name }}" value="{{ form.token.value }}">
                                                <!-- New password field 1 -->
                                                <label class="gl-label" for="{{ form.new_password1.id_for_label }}">New Password</label>
                                                <input class="input-text input-text--primary-style" type="password" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}"  required>
                                                <small class="form-text text-muted">
                                                    {{ form.new_password1.help_text }}
                                                </small>
                                                <!-- New password field 2 -->
                                                 <label class="gl-label" for="{{ form.new_password2.id_for_label }}">Confirm Password</label>
                                                 <input class="input-text input-text--primary-style" type="password" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" required>
                                                <br>
                                                <br>
                                                <button type="submit" class="btn btn--e-transparent-brand-b-2">Reset Password</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->

{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for message in messages %}
            alertify.{{ message.tags }}("{{ message }}");
        {% endfor %}
    });
</script>
{% endif %}

{% if form.errors %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                alertify.error("{{ error }}");
            {% endfor %}
        {% endfor %}
    });
</script>
{% endif %}

{% endblock content %}